<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% load static %}
    <link rel='stylesheet' type="text/css" href="{% static '/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Martel:wght@700display=swap" rel="stylesheet">

</head>
<body>
    <div class="footer">
        <div class="footer-icons">
            <div class="icon">
                <a href="https://www.facebook.com/groups/kyrieucsc">
                    <img src="{% static 'images/facebook.png' %}" style="width:36px; height:36px;" alt="Facebook logo">
                </a>
            </div>
            <div class="icon">
                <a href="https://www.instagram.com/kyrieucsc/">
                    <img src="{% static 'images/instagram.png' %}" style="width:36px; height:36px;" alt="Instagram logo">                    </a>
            </div>
            <div class="icon">
                <a href="https://www.youtube.com/channel/UCDjw8sCvEmxaA1VvsovS01Q">
                    <img src="{% static 'images/youtube.png' %}" style="width:36px; height:36px;" alt="Youtube logo">
                </a>
            </div>
        </div>
    <div class="attribute">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>        </div>
</body>
</html>